* {
  box-sizing: border-box;
}
.wrapper {
  background-color: lightyellow;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 20px;
  margin-top: 100px;
  border: 5px solid black;
}

.input-area {
  width: 100%;
  height: 5rem;
  background-color: lime;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  overflow-wrap: break-word;
}
.clearbtns button {
  width: 50%;
  height: 4rem;
  background-color: red;
  font-size: 30px;
  transition: all .1s ease;
}
.clearbtns button:hover {
  background-color: rgb(245, 112, 112);
}
.btns button {
  background-color: cornflowerblue;
  width: 33.333333%;
  height: 4rem;
  font-size: 30px;
  transition: all .1s ease;
}
.btns button:hover {
  background-color: rgb(155, 185, 236);
}

.operations button{
  background-color: orange;
  width: 20%;
  height: 4rem;
  font-size: 30px;
  transition: all .1s ease;
}
.operations button:hover{
  background-color: rgb(243, 194, 103);
}